<a href="https://colab.research.google.com/github/IsaacIsaias/collection-of-JNotebooks/blob/main/MetodosNumericos_Heun_RK4/MetodosNumericos_Heun_RK4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Métodos Numéricos

> Ejercicios a los cuales se les aplica los métodos de Heun y RK4. Este *notebook* muestra una tabla con los valores estimados en cada iteración para cada ejercicio.

---

## Tabla de Contenidos

[Método de Heun](#scrollTo=vLP46JFa8dFo)

- [Ejercicio 1](#scrollTo=su55YBBw8dFq)
- [Ejercicio 2](#scrollTo=6p7gGrym8dFx)
- [Ejercicio 3](#scrollTo=nixlzupo8dF0)
- [Ejercicio 4](#scrollTo=c1Xxxebc8dF3)
- [Ejercicio 5](#scrollTo=V0D9vV2Q8dF7)

[Método RK4](#scrollTo=Nqn3jHr18dF-)

- [Ejercicio 1](#scrollTo=qX42zSy18dF-)
- [Ejercicio 2](#scrollTo=QN42DhL68dGA)
- [Ejercicio 3](#scrollTo=95mxvqX38dGC)
- [Ejercicio 4](#scrollTo=310H-xnr8dGE)
- [Ejercicio 5](#scrollTo=6PHRZBWR8dGF)

[Acerca de este Notebook](#scrollTo=34hgPpqMA4CX)

---

## Importar librerías

In [1]:
import numpy as np
import pandas as pd
from sympy import *

---

## Método de Heun

In [2]:
h_1, h_2 = 0.1, 0.05

---

### Ejercicio 1:

$$y' = 2x - 3y + 1, \ y(1) = 5; \ y(1.5)$$

In [3]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 1, 5, 10

f = 2*x - 3*y + 1
f

2*x - 3*y + 1

#### Para *h = 0.1*:

In [4]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_1, 4))
print(f'Valores de x: {x_n}')

Valores de x: [1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]

In [5]:
yo_0 = round(y_0 + h_1 * f.subs({x: x_0, y: y_0}), 4)
yo_0

3.8000

In [6]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_1 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_1 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [5, 3.9900, 3.2546, 2.7237, 2.3452, 2.0802, 1.8998, 1.7823, 1.7118, 1.6763, 1.6668]
Valores de y*: [3.8000, 3.1130, 2.6182, 2.2666, 2.0216, 1.8561, 1.7499, 1.6876, 1.6583, 1.6534, 1.6668]

##### Conversión de las listas a un DataFrame

In [7]:
x_series_1 = pd.Series(x_n)
y_series_1 = pd.Series(y_n)
yo_series_1 = pd.Series(yo_n)
df_1 = pd.DataFrame({'x': x_series_1, 'y': y_series_1, 'y*': yo_series_1})
df_1.index.name = 'n'
df_1

      x       y      y*
n
0   1.0       5  3.8000
1   1.1  3.9900  3.1130
2   1.2  3.2546  2.6182
3   1.3  2.7237  2.2666
4   1.4  2.3452  2.0216
5   1.5  2.0802  1.8561
6   1.6  1.8998  1.7499
7   1.7  1.7823  1.6876
8   1.8  1.7118  1.6583
9   1.9  1.6763  1.6534
10  2.0  1.6668  1.6668

#### Para *h = 0.05*:

In [8]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_2, 4))
print(f'Valores de x: {x_n}')

Valores de x: [1.0, 1.05, 1.1, 1.15, 1.2, 1.25, 1.3, 1.35, 1.4, 1.45, 1.5]

In [9]:
yo_0 = round(y_0 + h_2 * f.subs({x: x_0, y: y_0}), 4)
yo_0

4.4000

In [10]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_2 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_2 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [5, 4.4475, 3.9763, 3.5751, 3.2342, 2.9452, 2.7009, 2.4951, 2.3225, 2.1785, 2.0591]
Valores de y*: [4.4000, 3.9354, 3.5399, 3.2038, 2.9191, 2.6784, 2.4758, 2.3058, 2.1641, 2.0467, 1.9502]

##### Conversión de las listas a un DataFrame

In [11]:
x_series_2 = pd.Series(x_n)
y_series_2 = pd.Series(y_n)
yo_series_2 = pd.Series(yo_n)
df_2 = pd.DataFrame({'x': x_series_2, 'y': y_series_2, 'y*': yo_series_2})
df_2.index.name = 'n'
df_2

       x       y      y*
n
0   1.00       5  4.4000
1   1.05  4.4475  3.9354
2   1.10  3.9763  3.5399
3   1.15  3.5751  3.2038
4   1.20  3.2342  2.9191
5   1.25  2.9452  2.6784
6   1.30  2.7009  2.4758
7   1.35  2.4951  2.3058
8   1.40  2.3225  2.1641
9   1.45  2.1785  2.0467
10  1.50  2.0591  1.9502

#### Resultados:

In [12]:
df_1.loc[np.where(df_1['x'] == 1.5)]

     x       y      y*
n
5  1.5  2.0802  1.8561

In [13]:
# df_1.loc[np.where(df_1['x'] == 1.5)[0][0], 'y']
res_y_010 = df_1.loc[np.where(df_1['x'] == 1.5)]['y'].values[0]
res_y_005 = df_2.loc[np.where(df_2['x'] == 1.5)]['y'].values[0]

In [14]:
print(f'Para h = {h_1}, el valor aproximado de y(1.5) = {res_y_010}')
print(f'Para h = {h_2}, el valor aproximado de y(1.5) = {res_y_005}')

Para h = 0.1, el valor aproximado de y(1.5) = 2.0802
Para h = 0.05, el valor aproximado de y(1.5) = 2.0591

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 2:

$$y' = 4x - 2y, \ y(0) = 2; \ y(0.5)$$

In [15]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 2, 10

f = 4*x - 2*y
f

4*x - 2*y

#### Para *h = 0.1*:

In [16]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_1, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [17]:
yo_0 = round(y_0 + h_1 * f.subs({x: x_0, y: y_0}), 4)
yo_0

1.6000

In [18]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_1 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_1 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [2, 1.6600, 1.4172, 1.2541, 1.1564, 1.1123, 1.1121, 1.1479, 1.2133, 1.3029, 1.4124]
Valores de y*: [1.6000, 1.3680, 1.2138, 1.1233, 1.0851, 1.0898, 1.1297, 1.1983, 1.2906, 1.4023, 1.5299]

##### Conversión de las listas a un DataFrame

In [19]:
x_series_1 = pd.Series(x_n)
y_series_1 = pd.Series(y_n)
yo_series_1 = pd.Series(yo_n)
df_1 = pd.DataFrame({'x': x_series_1, 'y': y_series_1, 'y*': yo_series_1})
df_1.index.name = 'n'
df_1

      x       y      y*
n
0   0.0       2  1.6000
1   0.1  1.6600  1.3680
2   0.2  1.4172  1.2138
3   0.3  1.2541  1.1233
4   0.4  1.1564  1.0851
5   0.5  1.1123  1.0898
6   0.6  1.1121  1.1297
7   0.7  1.1479  1.1983
8   0.8  1.2133  1.2906
9   0.9  1.3029  1.4023
10  1.0  1.4124  1.5299

#### Para *h = 0.05*:

In [20]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_2, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5]

In [21]:
yo_0 = round(y_0 + h_2 * f.subs({x: x_0, y: y_0}), 4)
yo_0

1.8000

In [22]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_2 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_2 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [2, 1.8150, 1.6571, 1.5237, 1.4125, 1.3213, 1.2483, 1.1917, 1.1500, 1.1217, 1.1056]
Valores de y*: [1.8000, 1.6435, 1.5114, 1.4013, 1.3113, 1.2392, 1.1835, 1.1425, 1.1150, 1.0995, 1.0950]

##### Conversión de las listas a un DataFrame

In [23]:
x_series_2 = pd.Series(x_n)
y_series_2 = pd.Series(y_n)
yo_series_2 = pd.Series(yo_n)
df_2 = pd.DataFrame({'x': x_series_2, 'y': y_series_2, 'y*': yo_series_2})
df_2.index.name = 'n'
df_2

       x       y      y*
n
0   0.00       2  1.8000
1   0.05  1.8150  1.6435
2   0.10  1.6571  1.5114
3   0.15  1.5237  1.4013
4   0.20  1.4125  1.3113
5   0.25  1.3213  1.2392
6   0.30  1.2483  1.1835
7   0.35  1.1917  1.1425
8   0.40  1.1500  1.1150
9   0.45  1.1217  1.0995
10  0.50  1.1056  1.0950

#### Resultados:

In [24]:
df_1.loc[np.where(df_1['x'] == 0.5)]

     x       y      y*
n
5  0.5  1.1123  1.0898

In [25]:
res_y_010 = df_1.loc[np.where(df_1['x'] == 0.5)]['y'].values[0]
res_y_005 = df_2.loc[np.where(df_2['x'] == 0.5)]['y'].values[0]

In [26]:
print(f'Para h = {h_1}, el valor aproximado de y(0.5) = {res_y_010}')
print(f'Para h = {h_2}, el valor aproximado de y(0.5) = {res_y_005}')

Para h = 0.1, el valor aproximado de y(0.5) = 1.1123
Para h = 0.05, el valor aproximado de y(0.5) = 1.1056

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 3:

$$y' = 1 + e^x, \ y(0) = 2; \ y(0.5)$$

In [27]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 0, 10

f = 1 + y**2
f

y**2 + 1

#### Para *h = 0.1*:

In [28]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_1, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [29]:
yo_0 = round(y_0 + h_1 * f.subs({x: x_0, y: y_0}), 4)
yo_0

0.1000

In [30]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_1 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_1 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [0, 0.1005, 0.2030, 0.3098, 0.4234, 0.5470, 0.6849, 0.8429, 1.0298, 1.2592, 1.5537]
Valores de y*: [0.1000, 0.2015, 0.3071, 0.4194, 0.5413, 0.6769, 0.8318, 1.0140, 1.2358, 1.5178, 1.8951]

##### Conversión de las listas a un DataFrame

In [31]:
x_series_1 = pd.Series(x_n)
y_series_1 = pd.Series(y_n)
yo_series_1 = pd.Series(yo_n)
df_1 = pd.DataFrame({'x': x_series_1, 'y': y_series_1, 'y*': yo_series_1})
df_1.index.name = 'n'
df_1

      x       y      y*
n
0   0.0       0  0.1000
1   0.1  0.1005  0.2015
2   0.2  0.2030  0.3071
3   0.3  0.3098  0.4194
4   0.4  0.4234  0.5413
5   0.5  0.5470  0.6769
6   0.6  0.6849  0.8318
7   0.7  0.8429  1.0140
8   0.8  1.0298  1.2358
9   0.9  1.2592  1.5178
10  1.0  1.5537  1.8951

#### Para *h = 0.05*:

In [32]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_2, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5]

In [33]:
yo_0 = round(y_0 + h_2 * f.subs({x: x_0, y: y_0}), 4)
yo_0

0.0500

In [34]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_2 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_2 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [0, 0.0501, 0.1004, 0.1512, 0.2028, 0.2555, 0.3095, 0.3652, 0.4230, 0.4833, 0.5466]
Valores de y*: [0.0500, 0.1002, 0.1509, 0.2023, 0.2549, 0.3088, 0.3643, 0.4219, 0.4819, 0.5450, 0.6115]

##### Conversión de las listas a un DataFrame

In [35]:
x_series_2 = pd.Series(x_n)
y_series_2 = pd.Series(y_n)
yo_series_2 = pd.Series(yo_n)
df_2 = pd.DataFrame({'x': x_series_2, 'y': y_series_2, 'y*': yo_series_2})
df_2.index.name = 'n'
df_2

       x       y      y*
n
0   0.00       0  0.0500
1   0.05  0.0501  0.1002
2   0.10  0.1004  0.1509
3   0.15  0.1512  0.2023
4   0.20  0.2028  0.2549
5   0.25  0.2555  0.3088
6   0.30  0.3095  0.3643
7   0.35  0.3652  0.4219
8   0.40  0.4230  0.4819
9   0.45  0.4833  0.5450
10  0.50  0.5466  0.6115

#### Resultados:

In [36]:
res_y_010 = df_1.loc[np.where(df_1['x'] == 0.5)]['y'].values[0]
res_y_005 = df_2.loc[np.where(df_2['x'] == 0.5)]['y'].values[0]

In [37]:
print(f'Para h = {h_1}, el valor aproximado de y(0.5) = {res_y_010}')
print(f'Para h = {h_2}, el valor aproximado de y(0.5) = {res_y_005}')

Para h = 0.1, el valor aproximado de y(0.5) = 0.5470
Para h = 0.05, el valor aproximado de y(0.5) = 0.5466

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 4:

$$y' = x^2 + y^2, \ y(0) = 1; \ y(0.5)$$

In [38]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 1, 10

f = x**2 + y**2
f

x**2 + y**2

#### Para *h = 0.1*:

In [39]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_1, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [40]:
yo_0 = round(y_0 + h_1 * f.subs({x: x_0, y: y_0}), 4)
yo_0

1.1000

In [41]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_1 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_1 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [1, 1.1110, 1.2515, 1.4360, 1.6879, 2.0486, 2.5998, 3.5286, 5.3706, 10.3455, 38.1100]
Valores de y*: [1.1000, 1.2354, 1.4121, 1.6512, 1.9888, 2.4933, 3.3117, 4.8227, 8.3189, 21.1294, 183.4472]

##### Conversión de las listas a un DataFrame

In [42]:
x_series_1 = pd.Series(x_n)
y_series_1 = pd.Series(y_n)
yo_series_1 = pd.Series(yo_n)
df_1 = pd.DataFrame({'x': x_series_1, 'y': y_series_1, 'y*': yo_series_1})
df_1.index.name = 'n'
df_1

      x        y        y*
n
0   0.0        1    1.1000
1   0.1   1.1110    1.2354
2   0.2   1.2515    1.4121
3   0.3   1.4360    1.6512
4   0.4   1.6879    1.9888
5   0.5   2.0486    2.4933
6   0.6   2.5998    3.3117
7   0.7   3.5286    4.8227
8   0.8   5.3706    8.3189
9   0.9  10.3455   21.1294
10  1.0  38.1100  183.4472

#### Para *h = 0.05*:

In [43]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_2, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5]

In [44]:
yo_0 = round(y_0 + h_2 * f.subs({x: x_0, y: y_0}), 4)
yo_0

1.0500

In [45]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_2 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_2 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [1, 1.0526, 1.1113, 1.1774, 1.2525, 1.3387, 1.4385, 1.5553, 1.6936, 1.8595, 2.0616]
Valores de y*: [1.0500, 1.1081, 1.1735, 1.2478, 1.3329, 1.4314, 1.5465, 1.6824, 1.8450, 2.0425, 2.2866]

##### Conversión de las listas a un DataFrame

In [46]:
x_series_2 = pd.Series(x_n)
y_series_2 = pd.Series(y_n)
yo_series_2 = pd.Series(yo_n)
df_2 = pd.DataFrame({'x': x_series_2, 'y': y_series_2, 'y*': yo_series_2})
df_2.index.name = 'n'
df_2

       x       y      y*
n
0   0.00       1  1.0500
1   0.05  1.0526  1.1081
2   0.10  1.1113  1.1735
3   0.15  1.1774  1.2478
4   0.20  1.2525  1.3329
5   0.25  1.3387  1.4314
6   0.30  1.4385  1.5465
7   0.35  1.5553  1.6824
8   0.40  1.6936  1.8450
9   0.45  1.8595  2.0425
10  0.50  2.0616  2.2866

#### Resultados:

In [47]:
res_y_010 = df_1.loc[np.where(df_1['x'] == 0.5)]['y'].values[0]
res_y_005 = df_2.loc[np.where(df_2['x'] == 0.5)]['y'].values[0]

In [48]:
print(f'Para h = {h_1}, el valor aproximado de y(0.5) = {res_y_010}')
print(f'Para h = {h_2}, el valor aproximado de y(0.5) = {res_y_005}')

Para h = 0.1, el valor aproximado de y(0.5) = 2.0486
Para h = 0.05, el valor aproximado de y(0.5) = 2.0616

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 5:

$$y' = e^{-y}, \ y(0) = 0; \ y(0.5)$$

In [49]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 0, 10

f = exp(-y)
f

exp(-y)

#### Para *h = 0.1*:

In [50]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_1, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [51]:
yo_0 = round(y_0 + h_1 * f.subs({x: x_0, y: y_0}), 4)
yo_0

0.1000

In [52]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_1 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_1 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [0, 0.0952, 0.1822, 0.2622, 0.3363, 0.4053, 0.4698, 0.5304, 0.5876, 0.6417, 0.6930]
Valores de y*: [0.1000, 0.1861, 0.2655, 0.3391, 0.4077, 0.4720, 0.5323, 0.5892, 0.6432, 0.6943, 0.7430]

##### Conversión de las listas a un DataFrame

In [53]:
x_series_1 = pd.Series(x_n)
y_series_1 = pd.Series(y_n)
yo_series_1 = pd.Series(yo_n)
df_1 = pd.DataFrame({'x': x_series_1, 'y': y_series_1, 'y*': yo_series_1})
df_1.index.name = 'n'
df_1

      x       y      y*
n
0   0.0       0  0.1000
1   0.1  0.0952  0.1861
2   0.2  0.1822  0.2655
3   0.3  0.2622  0.3391
4   0.4  0.3363  0.4077
5   0.5  0.4053  0.4720
6   0.6  0.4698  0.5323
7   0.7  0.5304  0.5892
8   0.8  0.5876  0.6432
9   0.9  0.6417  0.6943
10  1.0  0.6930  0.7430

#### Para *h = 0.05*:

In [54]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h_2, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5]

In [55]:
yo_0 = round(y_0 + h_2 * f.subs({x: x_0, y: y_0}), 4)
yo_0

0.0500

In [56]:
y_n = [y_0]
yo_n = [yo_0]
for i in range(n):
   slope_mean = (1/2) * (f.subs({x: x_n[i], y: y_n[i]}) + f.subs({x: x_n[i+1], y: yo_n[i]}))
   y_n.append(round(y_n[i] + h_2 * slope_mean, 4))
   yo_n1 = y_n[i+1] + h_2 * f.subs({x: x_n[i+1], y: y_n[i+1]})
   yo_n.append(round(yo_n1, 4))
print(f'Valores de y: {y_n}')
print(f'Valores de y*: {yo_n}')

Valores de y: [0, 0.0488, 0.0953, 0.1397, 0.1823, 0.2231, 0.2623, 0.3000, 0.3364, 0.3715, 0.4054]
Valores de y*: [0.0500, 0.0964, 0.1408, 0.1832, 0.2240, 0.2631, 0.3008, 0.3370, 0.3721, 0.4060, 0.4387]

##### Conversión de las listas a un DataFrame

In [57]:
x_series_2 = pd.Series(x_n)
y_series_2 = pd.Series(y_n)
yo_series_2 = pd.Series(yo_n)
df_2 = pd.DataFrame({'x': x_series_2, 'y': y_series_2, 'y*': yo_series_2})
df_2.index.name = 'n'
df_2

       x       y      y*
n
0   0.00       0  0.0500
1   0.05  0.0488  0.0964
2   0.10  0.0953  0.1408
3   0.15  0.1397  0.1832
4   0.20  0.1823  0.2240
5   0.25  0.2231  0.2631
6   0.30  0.2623  0.3008
7   0.35  0.3000  0.3370
8   0.40  0.3364  0.3721
9   0.45  0.3715  0.4060
10  0.50  0.4054  0.4387

#### Resultados:

In [58]:
res_y_010 = df_1.loc[np.where(df_1['x'] == 0.5)]['y'].values[0]
res_y_005 = df_2.loc[np.where(df_2['x'] == 0.5)]['y'].values[0]

In [59]:
print(f'Para h = {h_1}, el valor aproximado de y(0.5) = {res_y_010}')
print(f'Para h = {h_2}, el valor aproximado de y(0.5) = {res_y_005}')

Para h = 0.1, el valor aproximado de y(0.5) = 0.4053
Para h = 0.05, el valor aproximado de y(0.5) = 0.4054

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

## Método RK4

In [60]:
h = 0.1

---

### Ejercicio 1:

$$y' = 2x - 3y + 1, \ y(1) = 5; \ y(1.5)$$

In [61]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 1, 5, 10

f = 2*x - 3*y + 1
f

2*x - 3*y + 1

#### Para *h = 0.1*:

In [62]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h, 4))
print(f'Valores de x: {x_n}')

Valores de x: [1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]

In [63]:
y_n = [y_0]
k_n1 = []
k_n2 = []
k_n3 = []
k_n4 = []

for i in range(n + 1):
    k1 = f.subs({x: x_n[i], y: y_n[i]})
    k_n1.append(round(k1, 4))
    k2 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k1})
    k_n2.append(round(k2, 4))
    k3 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k2})
    k_n3.append(round(k3, 4))
    k4 = f.subs({x: x_n[i] + h, y: y_n[i] + h * k3})
    k_n4.append(round(k4, 4))
    y_n1 = y_n[i] + h/6 * (k1 + 2*k2 + 2*k3 + k4)
    y_n.append(round(y_n1, 4))
y_n_1 = y_n[1:]
y_n = y_n[:-1]

##### Conversión de las listas a un DataFrame

In [64]:
xn_series = pd.Series(x_n)
yn_series = pd.Series(y_n)
k1n_series = pd.Series(k_n1)
k2n_series = pd.Series(k_n2)
k3n_series = pd.Series(k_n3)
k4n_series = pd.Series(k_n4)
yn1_series = pd.Series(y_n_1)
df = pd.DataFrame({'x_n': xn_series, 'y_n': yn_series, 'k1_n': k1n_series, 'k2_n': k2n_series, 'k3_n': k3n_series, 'k4_n': k4n_series, 'y_n+1': yn1_series})
df.index.name = 'n'
df

    x_n     y_n               k1_n      k2_n      k3_n     k4_n   y_n+1
n
0   1.0       5  -12.0000000000000  -10.1000  -10.3850  -8.6845  3.9724
1   1.1  3.9724            -8.7172   -7.3096   -7.5208  -6.2610  3.2284
2   1.2  3.2284            -6.2852   -5.2424   -5.3988  -4.4656  2.6945
3   1.3  2.6945            -4.4835   -3.7110   -3.8269  -3.1354  2.3163
4   1.4  2.3163            -3.1489   -2.5766   -2.6624  -2.1502  2.0533
5   1.5  2.0533            -2.1599   -1.7359   -1.7995  -1.4200  1.8758
6   1.6  1.8758            -1.4274   -1.1133   -1.1604  -0.8793  1.7616
7   1.7  1.7616            -0.8848   -0.6521   -0.6870  -0.4787  1.6942
8   1.8  1.6942            -0.4826   -0.3102   -0.3361  -0.1818  1.6616
9   1.9  1.6616            -0.1848   -0.0571   -0.0762   0.0381  1.6547
10  2.0  1.6547             0.0359    0.1305    0.1163   0.2010  1.6669

#### Resultados:

In [65]:
res_y_n = df.loc[np.where(df['x_n'] == 1.5)]['y_n'].values[0]
print(f'Para h = {h}, el valor aproximado de y(1.5) = {res_y_n}')

Para h = 0.1, el valor aproximado de y(1.5) = 2.0533

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 2:

$$y' = 4x - 2y, \ y(0) = 2; \ y(0.5)$$

In [66]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 2, 10

f = 4*x - 2*y
f

4*x - 2*y

#### Para *h = 0.1*:

In [67]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [68]:
y_n = [y_0]
k_n1 = []
k_n2 = []
k_n3 = []
k_n4 = []

for i in range(n + 1):
    k1 = f.subs({x: x_n[i], y: y_n[i]})
    k_n1.append(round(k1, 4))
    k2 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k1})
    k_n2.append(round(k2, 4))
    k3 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k2})
    k_n3.append(round(k3, 4))
    k4 = f.subs({x: x_n[i] + h, y: y_n[i] + h * k3})
    k_n4.append(round(k4, 4))
    y_n1 = y_n[i] + h/6 * (k1 + 2*k2 + 2*k3 + k4)
    y_n.append(round(y_n1, 4))
y_n_1 = y_n[1:]
y_n = y_n[:-1]

##### Conversión de las listas a un DataFrame

In [69]:
xn_series = pd.Series(x_n)
yn_series = pd.Series(y_n)
k1n_series = pd.Series(k_n1)
k2n_series = pd.Series(k_n2)
k3n_series = pd.Series(k_n3)
k4n_series = pd.Series(k_n4)
yn1_series = pd.Series(y_n_1)
df = pd.DataFrame({'x_n': xn_series, 'y_n': yn_series, 'k1_n': k1n_series, 'k2_n': k2n_series, 'k3_n': k3n_series, 'k4_n': k4n_series, 'y_n+1': yn1_series})
df.index.name = 'n'
df

    x_n     y_n     k1_n     k2_n     k3_n     k4_n   y_n+1
n
0   0.0       2       -4  -3.4000  -3.4600  -2.9080  1.6562
1   0.1  1.6562  -2.9124  -2.4212  -2.4703  -2.0183  1.4110
2   0.2  1.4110  -2.0220  -1.6198  -1.6600  -1.2900  1.2465
3   0.3  1.2465  -1.2930  -0.9637  -0.9966  -0.6937  1.1480
4   0.4  1.1480  -0.6960  -0.4264  -0.4534  -0.2053  1.1037
5   0.5  1.1037  -0.2074   0.0133  -0.0087   0.1943  1.1036
6   0.6  1.1036   0.1928   0.3735   0.3554   0.5217  1.1398
7   0.7  1.1398   0.5204   0.6684   0.6536   0.7897  1.2057
8   0.8  1.2057   0.7886   0.9097   0.8976   1.0091  1.2959
9   0.9  1.2959   1.0082   1.1074   1.0975   1.1887  1.4060
10  1.0  1.4060   1.1880   1.2692   1.2611   1.3358  1.5324

#### Resultados:

In [70]:
res_y_n = df.loc[np.where(df['x_n'] == 0.5)]['y_n'].values[0]
print(f'Para h = {h}, el valor aproximado de y(0.5) = {res_y_n}')

Para h = 0.1, el valor aproximado de y(0.5) = 1.1037

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 3:

$$y' = 1 + e^x, \ y(0) = 2; \ y(0.5)$$

In [71]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 0, 10

f = 1 + y**2
f

y**2 + 1

#### Para *h = 0.1*:

In [72]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [73]:
y_n = [y_0]
k_n1 = []
k_n2 = []
k_n3 = []
k_n4 = []

for i in range(n + 1):
    k1 = f.subs({x: x_n[i], y: y_n[i]})
    k_n1.append(round(k1, 4))
    k2 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k1})
    k_n2.append(round(k2, 4))
    k3 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k2})
    k_n3.append(round(k3, 4))
    k4 = f.subs({x: x_n[i] + h, y: y_n[i] + h * k3})
    k_n4.append(round(k4, 4))
    y_n1 = y_n[i] + h/6 * (k1 + 2*k2 + 2*k3 + k4)
    y_n.append(round(y_n1, 4))
y_n_1 = y_n[1:]
y_n = y_n[:-1]

##### Conversión de las listas a un DataFrame

In [74]:
xn_series = pd.Series(x_n)
yn_series = pd.Series(y_n)
k1n_series = pd.Series(k_n1)
k2n_series = pd.Series(k_n2)
k3n_series = pd.Series(k_n3)
k4n_series = pd.Series(k_n4)
yn1_series = pd.Series(y_n_1)
df = pd.DataFrame({'x_n': xn_series, 'y_n': yn_series, 'k1_n': k1n_series, 'k2_n': k2n_series, 'k3_n': k3n_series, 'k4_n': k4n_series, 'y_n+1': yn1_series})
df.index.name = 'n'
df

    x_n     y_n    k1_n    k2_n    k3_n    k4_n   y_n+1
n
0   0.0       0       1  1.0025  1.0025  1.0101  0.1003
1   0.1  0.1003   1.010  1.0227  1.0229  1.0410  0.2027
2   0.2  0.2027   1.041  1.0649  1.0655  1.0956  0.3093
3   0.3  0.3093   1.096  1.1326  1.1339  1.1787  0.4228
4   0.4  0.4228   1.179  1.2321  1.2346  1.2984  0.5463
5   0.5  0.5463   1.298  1.3736  1.3782  1.4680  0.6841
6   0.6  0.6841   1.468  1.5738  1.5818  1.7094  0.8422
7   0.7  0.8422   1.709  1.8606  1.8747  2.0602  1.0295
8   0.8  1.0295  2.0599  2.2825  2.3079  2.5883  1.2600
9   0.9  1.2600  2.5876  2.9304  2.9783  3.4268  1.5572
10  1.0  1.5572  3.4249  3.9875  4.0856  4.8642  1.9645

#### Resultados:

In [75]:
res_y_n = df.loc[np.where(df['x_n'] == 0.5)]['y_n'].values[0]
print(f'Para h = {h}, el valor aproximado de y(0.5) = {res_y_n}')

Para h = 0.1, el valor aproximado de y(0.5) = 0.5463

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 4:

$$y' = x^2 + y^2, \ y(0) = 1; \ y(0.5)$$

In [76]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 1, 10

f = x**2 + y**2
f

x**2 + y**2

#### Para *h = 0.1*:

In [77]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [78]:
y_n = [y_0]
k_n1 = []
k_n2 = []
k_n3 = []
k_n4 = []

for i in range(n + 1):
    k1 = f.subs({x: x_n[i], y: y_n[i]})
    k_n1.append(round(k1, 4))
    k2 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k1})
    k_n2.append(round(k2, 4))
    k3 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k2})
    k_n3.append(round(k3, 4))
    k4 = f.subs({x: x_n[i] + h, y: y_n[i] + h * k3})
    k_n4.append(round(k4, 4))
    y_n1 = y_n[i] + h/6 * (k1 + 2*k2 + 2*k3 + k4)
    y_n.append(round(y_n1, 4))
y_n_1 = y_n[1:]
y_n = y_n[:-1]

##### Conversión de las listas a un DataFrame

In [79]:
xn_series = pd.Series(x_n)
yn_series = pd.Series(y_n)
k1n_series = pd.Series(k_n1)
k2n_series = pd.Series(k_n2)
k3n_series = pd.Series(k_n3)
k4n_series = pd.Series(k_n4)
yn1_series = pd.Series(y_n_1)
df = pd.DataFrame({'x_n': xn_series, 'y_n': yn_series, 'k1_n': k1n_series, 'k2_n': k2n_series, 'k3_n': k3n_series, 'k4_n': k4n_series, 'y_n+1': yn1_series})
df.index.name = 'n'
df

,x_n,y_n,k1_n,k2_n,k3_n,k4_n,y_n+1
n,,,,,,,
0,0.0,1,1,1.1050,1.1161,1.2457,1.1115
1,0.1,1.1115,1.2454,1.4002,1.4185,1.6109,1.2531
2,0.2,1.2531,1.6103,1.8410,1.8719,2.1644,1.4398
3,0.3,1.4398,2.1630,2.5187,2.5740,3.0405,1.6963
4,0.4,1.6963,3.0374,3.6182,3.7264,4.5305,2.0673
5,0.5,2.0673,4.5237,5.5626,5.8035,7.3701,2.6444
6,0.6,2.6444,7.3529,9.4949,10.1516,13.8824,3.6532
7,0.7,3.6532,13.8359,19.4414,21.9556,34.8480,5.8445
8,0.8,5.8445,34.7981,58.2457,77.4037,185.3587,14.0354
9,0.9,14.0354,197.8025,573.3332,1824.3684,38602.3394,740.6278
10,1.0,740.6278,548530.5391,793388607.9883,1.57372246932851e+15,2.47660241049272e+28,4.12767068415505e+26

#### Resultados:

In [80]:
res_y_n = df.loc[np.where(df['x_n'] == 0.5)]['y_n'].values[0]
print(f'Para h = {h}, el valor aproximado de y(0.5) = {res_y_n}')

Para h = 0.1, el valor aproximado de y(0.5) = 2.0673

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

### Ejercicio 5:

$$y' = e^{-y}, \ y(0) = 0; \ y(0.5)$$

In [81]:
f, x, y = symbols('f, x, y')
x_0, y_0, n = 0, 0, 10

f = exp(-y)
f

exp(-y)

#### Para *h = 0.1*:

In [82]:
x_n = []
for i in range(n + 1):
    x_n.append(round(x_0 + i*h, 4))
print(f'Valores de x: {x_n}')

Valores de x: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [83]:
y_n = [y_0]
k_n1 = []
k_n2 = []
k_n3 = []
k_n4 = []

for i in range(n + 1):
    k1 = f.subs({x: x_n[i], y: y_n[i]})
    k_n1.append(round(k1, 4))
    k2 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k1})
    k_n2.append(round(k2, 4))
    k3 = f.subs({x: x_n[i] + h/2, y: y_n[i] + h/2 * k2})
    k_n3.append(round(k3, 4))
    k4 = f.subs({x: x_n[i] + h, y: y_n[i] + h * k3})
    k_n4.append(round(k4, 4))
    y_n1 = y_n[i] + h/6 * (k1 + 2*k2 + 2*k3 + k4)
    y_n.append(round(y_n1, 4))
y_n_1 = y_n[1:]
y_n = y_n[:-1]

##### Conversión de las listas a un DataFrame

In [84]:
xn_series = pd.Series(x_n)
yn_series = pd.Series(y_n)
k1n_series = pd.Series(k_n1)
k2n_series = pd.Series(k_n2)
k3n_series = pd.Series(k_n3)
k4n_series = pd.Series(k_n4)
yn1_series = pd.Series(y_n_1)
df = pd.DataFrame({'x_n': xn_series, 'y_n': yn_series, 'k1_n': k1n_series, 'k2_n': k2n_series, 'k3_n': k3n_series, 'k4_n': k4n_series, 'y_n+1': yn1_series})
df.index.name = 'n'
df

    x_n     y_n    k1_n    k2_n    k3_n    k4_n   y_n+1
n
0   0.0       0       1  0.9512  0.9536  0.9090  0.0953
1   0.1  0.0953   0.909  0.8687  0.8705  0.8333  0.1823
2   0.2  0.1823  0.8334  0.7993  0.8007  0.7692  0.2623
3   0.3  0.2623  0.7693  0.7403  0.7413  0.7143  0.3364
4   0.4  0.3364  0.7143  0.6893  0.6901  0.6667  0.4054
5   0.5  0.4054  0.6667  0.6449  0.6456  0.6250  0.4699
6   0.6  0.4699  0.6251  0.6058  0.6064  0.5883  0.5305
7   0.7  0.5305  0.5883  0.5713  0.5717  0.5556  0.5877
8   0.8  0.5877  0.5556  0.5404  0.5408  0.5264  0.6418
9   0.9  0.6418  0.5263  0.5127  0.5130  0.5000  0.6931
10  1.0  0.6931  0.5000  0.4877  0.4880  0.4762  0.7419

#### Resultados:

In [85]:
res_y_n = df.loc[np.where(df['x_n'] == 0.5)]['y_n'].values[0]
print(f'Para h = {h}, el valor aproximado de y(0.5) = {res_y_n}')

Para h = 0.1, el valor aproximado de y(0.5) = 0.4054

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)

---

## Acerca de este Notebook

**Autor:** [Isaac Isaías](https://github.com/IsaacIsaias)

**Asignatura:** Ecuaciones Diferenciales

**Prof:** Dr. Iván Trejo

**Universidad Tecnológica de San Juan del Río**

[Inicio de Página](#scrollTo=Vn5QSpZM8dFm)